<ion-header>
    <ion-navbar>
    <ion-title>Player Vs Player</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div class="gameScore" >
      <table>
          <tr>
            <th>Player X</th>
            <th>Player O</th>
          </tr>
          <tr>
            <td> {{ playerXScore }} </td>
            <td> {{ playerOScore }} </td>
          </tr>
      </table>
  </div>
  <div class="gameStatus" >
      {{gameStatusMessage}}
  </div>
  <ion-grid class="board">
    <ion-row *ngFor="let row of [0,1,2]">
      <ion-col col-4 class="cell"
            *ngFor="let col of [0,1,2]"
            (click)="handleMove(col+row*3)"
            >
            {{squares[col+row*3]}}
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
      <button class="restart" (click)="restartGame()">New Game</button>
      <button class="restart" (click)="restartMatch()">New Match</button>
  </ion-toolbar>
</ion-footer>