page-player {

    .board {
      background-color: #003300;
      color: #fff;
    }

    table {
      background: black;
      margin-left: 25%;
      padding: 5px;
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 50%;
      object-position: center;
    }
    
    td, th {
        border: 3px solid grey;
        color: white;
        text-align: center;
        padding: 8px;
    }
    .gameStatus {
      margin: 0px;
      padding: 15px;
      color: #34495e;
      font-family: 'Dosis', Helvetica, sans-serif;
      text-transform: uppercase;
      font-size: 5em;
      font-weight: bold;
      text-align: center;
    }
    
    .restart{
      background-color: #34495e;
      color: #fff;
      border: 0px;
      font-family: 'Dosis', Helvetica, sans-serif;
      font-size: 1.4em;
      font-weight: bold;
      margin: 0px;
      padding: 15px;
      width: 49%;
    }
  
    .restartGame:hover {
      background-color: #c1cdcd;
      cursor: pointer;
    }
  
    .cell {
      width: 100px;
      height: 100px;
      box-sizing: border-box;
      border: 3px solid green;
      font-size: 5em; 
      font-family: 'Gochi Hand', sans-serif;
      text-align: center;
    }
    
    .cell:hover {
      background-color: #c1cdcd;
    }
  }
  
  